<head>
 <title> GAMESTONKS </tilte>
 .header {
      background:white;
      color: white
      padding: 20px;
      text-align: center;
 }
 /* menu */

 .menu{
    float:right;
     }
 .menu ul {
 
 list-style:none;
 margin:0;
 padding:0;

 }

 /* items del menu */

 .menu ul li {
 background-color:purple;
 }
 
 /* enlaces del menu */

 .menu ul a {
 display:block;
 color:white;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;

 text-transform:uppercase;
 letter-spacing:1px;
 }

 /* items del menu */

 .menu ul li {
 position:relative;
 float:left;
 margin:2;
 padding:0;
}

 /* efecto al pasar el ratón por los items del menu */

.menu ul li:hover {
 background:#6C503B;
 }
 /* menu desplegable */

 .menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
 }

 /* items del menu desplegable */

 .menu ul ul li {
 float:none;
 width:150px
 }

 /* enlaces de los items del menu desplegable */

 .menu ul ul a {
 line-height:120%;
 padding:10px 15px;
 }

 /* items del menu desplegable al pasar el ratón */

 .menu ul li:hover > ul {
 display:block;
 }
 <style>
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    section {
      max-width: 800px;
      margin: 0 auto;
    }
    
    section ul {
      list-style-type: none;
      padding: 0;
    }
    
    section ul li {
      display: inline-block;
      width: 200px;
      text-align: center;
      margin: 20px;
    }
    
    section ul li img {
      max-width: 100%;
    }
 </style>
<body>
    <h1>Bienvenido a la Tienda de Videojuegos</h1>

  <main>
    <section>
      <h2>Nuestro Catálogo</h2>
      <ul>
        <li>
           <font color="white"> 
          <img width = "12%" img src="CATALOGO/R.jpg" alt="Red Dead Redemtion 2">
          <h3>Red Dead Redemtion 2</h3>
          <p>Precio: $1,499.00</p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "12%" img src="CATALOGO/VILL.JPG" alt="Resident Evil Village">
          <h3>Resident Evil Village</h3>
          <p>Precio: $722.67 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "12%" img src="CATALOGO/blas.JPG" alt="Blasphemous">
          <h3>Blasphemous</h3>
          <p>Precio: $439.00 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
           <font color="white"> 
          <img width = "12%" img src="CATALOGO/cup.JPG" alt="CupHead">
          <h3>CupHead</h3>
          <p>Precio: $404.83 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
         <font color="white"> 
          <img width = "12%" img src="CATALOGO/hw.jfif" alt="Hogwarts Legacy">
          <h3> hogwarts legacy </h3>
          <p>Precio: $1271.73 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "12%" img src="CATALOGO/tlo.JPG" alt="The Last Of Us Remastered">
          <h3> The Last Of Us </h3>
          <p>Precio: $1.349,00 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "12%" img src="CATALOGO/tlou2.Jfif" alt="The Last Of Us Part II">
          <h3> The Last Of Us Part II</h3>
          <p>Precio: $649.00 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "12%" img src="CATALOGO/Poke.JPG" alt="Pokémon Violet">
          <h3> Pokémon Violet </h3>
          <p>Precio: $1,099.00 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
           <font color="white"> 
          <img width = "19%" img src="CATALOGO/HK.JPG" alt="Hollow Knigth">
          <h3> Hollow Knigth </h3>
          <p>Precio: $329.00 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
        <li>
          <font color="white"> 
          <img width = "19%" img src="CATALOGO/Remake.PNG" alt="Resident Evil 4 Remake">
          <h3> Resident Evil 4 Remake</h3>
          <p>Precio: $1,407.50 </p>
          <a href="PAGPAGO.html"> <button>Comprar</button> </a>
        </li>
      </ul>
    </section>
  </main>

</body>
</html>